/* App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: antiquewhite;
}

.note-form {
  margin-bottom: 20px;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Note.css */
.note {
  max-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color:red;
}

.note h3 {
  margin: 0;
}

.note textarea {
  width: 100%;
  resize: none;
  margin: 10px 0;
}

.note-actions {
  margin-top: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
  .note {
    max-width: 100%;
  }
}
